[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/vimerl"]
	path = .vim/bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule ".vim/bundle/neco-ghc"]
	path = .vim/bundle/neco-ghc
	url = https://github.com/ujihisa/neco-ghc.git
[submodule ".vim/bundle/ghcmod"]
	path = .vim/bundle/ghcmod
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-perl"]
	path = .vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
